* {
    transition-duration: 300ms;
}

body {
    margin: 0;
    max-width: 1920px;
}

.home {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1920px;
    margin: auto;
}

.left-side {
    max-width: 840px;
    width: 840px;
    background-color: black;
}

.leftImg {
    position: absolute;
    max-width: 840px;
    width: 840px;
    max-height: 1080px;
    height: 1080px;
    /* right: 1116px; */
    left: 2px;
}

.blur {
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.68);
    max-height: 1080px;
    height: 5000px;
    width: 840px;
    top: -17px;
    max-width: 840px;
}

.right-side {
    background-color: black;
    height: 1080px;
    width: 1080px;
    position: absolute;
    right: 0;
}

.background-temp {
    position: relative;
    padding-left: 30px;
    color: #6b6a6a;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    line-height: 90pt;
    letter-spacing: 30pt;
    left: 30px;
}

.blur2 {
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    max-height: 1080px;
    height: 5000px;
    width: 1080px;
    bottom: 0px;
    max-width: 1080px;
}

.nav {
    position: absolute;
    z-index: 9;
    top: 80px;
    left: 400px;
    /* text-align: center; */
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #dddddd;
    font-family: 'Raleway', sans-serif;
    font-size: 38pt;
    line-height: 140pt;
    letter-spacing: 5pt;
}

.homeLinks:hover {
    font-size: 40pt;
    transition-duration: 200ms;
    border-bottom: 2px solid #dddddd;
}

.topnav {
    display: none;
}

@media only screen and (min-width: 1920px) {
    body {
        margin: auto;
    }
}

@media only screen and (max-width: 1080px) {
    .home {
        grid-template-columns: 1fr;
    }
    .leftImg {
        max-width: 1080px;
        width: 100%;
        max-height: 1400px;
        height: 1400px;
        left: 0;
    }
    .blur {
        max-height: 1400px;
        height: 1400px;
        left: 0px;
        max-width: 1080px;
        width: 100%;
    }
    /* .right-side {
        top: 1080px;
        width: 100%;
        
    }
    .blur2 {
        width: 100%;
    } */
    .right-side {
        display: none;
    }
    .topnav {
        display: block;
        z-index: 9;
    }
    .topnav #myLinks {
        display: none;
        position: fixed;
        z-index: 10;
        width: 200px;
        top: 120px;
        right: 50px;
    }
    /* Style navigation menu links */
    .topnav a {
        color: rgb(205, 205, 205);
        background-color: rgba(0, 0, 0, 0.6);
        padding: 25px 16px 0;
        font-family: "Noto sans", sans-serif;
        font-size: 18px;
        display: block;
        text-decoration: none;
        text-align: center;
        height: 80px;
        z-index: 9;
        position: relative;
        /* padding-top: 20px; */
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        color: rgb(205, 205, 205);
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        margin: auto;
        height: 46px;
        width: 23px;
        padding-top: 20px;
        font-size: 23px;
        z-index: 9;
        position: fixed;
        right: 50px;
        top: 50px;
    }
}