body {
    margin: 0;
    max-width: 1920px;
}

.home {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1920px;
    margin: auto;
}

.left-side {
    max-width: 804px;
    width: 804px;
    background-color: black;
}

.leftImg {
    position: fixed;
    max-width: 804px;
    width: 804px;
    max-height: 1080px;
    height: 1080px;
    right: 1116px;
}

.blur {
    position: fixed;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.68);
    max-height: 1080px;
    height: 5000px;
    width: 804px;
    top: -17px;
    max-width: 804px;
    right: 1116px;
}

.right-side {
    background-color: black;
    height: 1080px;
    width: 1116px;
    position: fixed;
    right: 0;
}

.background-temp {
    position: relative;
    padding-left: 30px;
    color: #6b6a6a;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    line-height: 90pt;
    letter-spacing: 30pt;
    left: 30px;
}

.blur2 {
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    max-height: 1080px;
    height: 5000px;
    width: 1116px;
    bottom: -17px;
    max-width: 1116px;
}

.nav {
    position: absolute;
    z-index: 9;
    top: 80px;
    left: 400px;
    /* text-align: center; */
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #dddddd;
    font-family: 'Raleway', sans-serif;
    font-size: 38pt;
    line-height: 140pt;
    letter-spacing: 5pt;
}

.homeLinks:hover {
    font-size: 40pt;
    transition-duration: 200ms;
    border-bottom: 2px solid #dddddd;
}

@media only screen and (min-width: 1920px) {
    body {
        margin: auto;
    }
}